.home{
    position: relative;
}

.home__container{
    padding-top: 2.5rem;
    row-gap: 2rem;
    display: grid;
    text-align: center;
}


.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  line-height: 4.4rem;
}

.home__descrption{
    margin-bottom: 2rem;
    line-height: 1.7rem;
    color: var(--neutral-color);
}

.home__img{
    position: relative;
    max-width: 40rem;
    justify-self: center;

}

.light_btn{
    padding: 0.7rem ;
    border-radius: 20px;
    color: rgba(180, 121, 217, 1);
    background-color: rgba(180, 121, 217, 0.15) ;
    cursor: pointer;
}




.circle-1 , .circle-2, .circle-3,.circle-4 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle, #F4DAFE, #E6F6F9);
}


.circle-1{
    top: 10rem;
    left: 3rem;

}

.circle-2{
    top: 2rem;
    right: 7rem;
}

.circle-3{
    right: 3rem;
    bottom: 3rem;
}
.circle-4{
    left:  2rem;
    top: 6rem;
    width: 40px;
    height: 40px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    border-radius: 0.75rem;
    color: #fff;
    font-weight: var(--font-semi-bold);
    transition: box-shadow .4s;
    gap: 0.5rem;
}

.white-button{
    color: black;
    background-color: var(--white-color);
}
.buttons a {
    color: var(--white-color);
}
.white-button a{
    color: black;
}

.button:hover{
    box-shadow: 0 0 1rem var(--first-color);
}
.white-button:hover{
    box-shadow: 0 0 0.2rem var(--first-color);
}

.home__footer__description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.home__footer__description .title{
    font-size: var(--big-font-size);
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.2rem;

}




.line{
    width: 1px;
    height: 62.45px;
    background-color: #cccccc;
}