/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
     --first-color: hsl(140, 40%, 48%);
     --gradient-color: rgba(219, 244, 226, 1);
     --primary-color:#2EBB77;
     --neutral-color:hsl(0,0,49,100%);
     --white-color:#fff;
     --subtitle-color:hsl(277,56,66,15%);




  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font:"Plus Jakarta Sans", sans-serif;
  --biggest-font-size: 4.25rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}



input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
  line-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark Theme ==========*/



/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/

 /* .dark-theme{
  --first-color: hsl(140, 30%, 45%);
  --first-color-alt: hsl(140, 30%, 40%);
  --title-color: hsl(140, 4%, 90%);
  --text-color: hsl(140, 4%, 70%);
  --body-color: hsl(0, 0%, 10%);
  --container-color: hsl(0, 0%, 14%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, .6));
  --filter-img: initial;
}

.light-theme{
  --first-color: hsl(140, 40%, 48%);
  --first-color-alt: hsl(140, 40%, 44%);
  --title-color: hsl(140, 4%, 12%);
  --text-color: hsl(140, 4%, 40%);
  --text-color-light: hsl(140, 4%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 95%);
  --shadow-img: drop-shadow(0 8px 12px hsla(0, 0%, 0%, .2));
  --filter-img: invert(1); */


body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}


/*========== 
  Color changes in some parts of 
  the website, in light theme
==========*/

.dark-theme :is(.shadow-header, .nav__menu , scrollup){
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .3);
}






/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.text-light{
  color:#fff;
}

.section__title {
  font-size: var(--big-font-size);
  font-family: var(--second-font);
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}


@media screen and (max-width: 300px){
  .container{
    margin-inline: 1rem;
  }
  
  .home__title{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .info__details{
    text-align: center;
  }

}

@media screen and (max-width: 576px){
  .home__title{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .buttons{
    flex-wrap: wrap;
 }
 .header {
  padding: 0 2%;
  background-color: white;

}
.info__details{
  text-align: center;
}
.paragraph__detail
{
max-width: 100%;
}

  
}

/* For medium devices */
@media screen and (min-width: 576px){
  .home__container,
  .about__container
  {
    display: grid;
    grid-template-columns: 370px;
    justify-content: center;
  }
  .home__title{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .header {
    padding: 0 5%;
    background-color: white;

  }
  .info__details{
    text-align: center;
  }

  
}  


@media screen and (min-width: 768px) {
  .home__container
  {
     grid-template-columns: repeat(2, 330px);
     align-items: center;
  }

  .header {
    padding: 0 10%;
    background-color: white;

  }
  .buttons{
     flex-wrap: nowrap;
     gap: 5px;
  }
  .button{
    padding: 0.8rem 1.1rem;

  }

  .home__footer__description {
    margin-top: 0.3rem;
  }
  .home__footer__description .title{
    font-size: 1.2rem;
  }
  .home__footer__description .subtitle
  {
    font-size: 0.8rem;
  }

  .home__img img{
    max-width: 23rem;
  }

  .main__content{
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .main__content .first__item{
    display: grid ;
    grid-template-columns: 200px 12px 330px;
    column-gap: 5rem;
    align-items: center;
  }

  .first__item .circle_icon{
    order: 0;
  }
  .info__details{
    text-align: center;
  }
  .paragraph__detail
  {
  max-width: 100%;
  }





  

}



/* For large devices */
@media screen and (min-width:1150px){

  .home__container
  {
     grid-template-columns: repeat(2, 500px);
     align-items: center;
  }
  .header {
    padding: 0 15%;
    background-color: white;

  }


  .container{
  margin-inline: auto;
  }
  .section{
    padding-block: 7rem 2rem;
  }
  nav{
   height: calc(var(--header-height) + 2rem) ;
   column-gap: 4rem;
  }
  .nav__close,
  .nav__toggle
  {
    display: none;
  }

  .home__img img{
    max-width: 100%;
  }

  .home__title{
    font-size: 3rem;
    line-height: 3.4rem;
  }

  .navbar{
   margin-left: auto;
   background-color: white;
  }
  .nav__items{
   flex-direction: row;
   column-gap: 4rem;

  }

  .dark-theme .navbar{
     box-shadow: none;
  }

  .main__content{
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .main__content .first__item{
    display: grid ;
    grid-template-columns: 300px 12px 330px;
    column-gap: 9rem;
    align-items: center;
  }

  .first__item .circle_icon{
    order: 0;
  }
  .info__details{
    text-align: left;
}
}